.post-date{
    margin: 20px 0;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.under-space{
    margin-bottom: 25px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.img_responsive{
    max-width: 100%;
    height: auto;
    display:block;
}
